.titulo-us {
    background-color: #FFB5C0;
    color: black;
}

.jugadores {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
}

.jugadores:hover {
  transform: scale(1.1);
  box-shadow: #fdfd96 0px 0px 15px;
}

@media (max-width: 767px) {
  .team-member {
    width: 150px;
    margin-bottom: 20px;
  }
}

.mi-carrusel-chico .carousel-inner {
    max-height: 880px; 
}

.mi-carrusel-chico img {
    height: 880px; 
    object-fit: cover; 
}

@media (max-width: 767px) {
    
  .mi-carrusel-chico .carousel-inner {
      max-height: 250px; 
  }
  .mi-carrusel-chico img {
      height: 250px; 
  }
  .mi-carrusel-chico .carousel-caption {
      bottom: 5px; 
      padding-top: 5px;
      padding-bottom: 5px;
  }  
  .mi-carrusel-chico .carousel-caption h5 {
      font-size: 0.9rem; 
  }   
  .mi-carrusel-chico .carousel-caption p {
      display: none; 
  }
}