.titulo-us {
    background-color: #FFB5C0;
    color: black;
}

.jugadores {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
}

.jugadores:hover {
  transform: scale(1.1);
  box-shadow: #fdfd96 0px 0px 15px;
}

@media (max-width: 767px) {
  .team-member {
    width: 150px;
    margin-bottom: 20px;
  }
}
.pie-pagina-ecommerce {
  background-color: #1a1a1a; 
  color: #ffffff; 
  font-family: Arial, sans-serif; 
}

.pie-pagina-ecommerce a {
  color: #cccccc; 
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
}

.pie-pagina-ecommerce a:hover {
  color: #5999dd; 
}

.pie-pagina-ecommerce h3 {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 5px rgb(182, 131, 250);
}


.columna-pie-identidad img {
  max-width: 120px; 
  height: auto;
  margin-bottom: 10px;
}

.eslogan {
  font-size: 13px;
  opacity: 0.8;
}

.iconos-sociales a {
  margin-right: 10px; 
}

.iconos-sociales i {
  color: #ffffff; 
}

.iconos-sociales a:hover i {
  color: #e66cd5; 
  transform: rotate(10deg) scale(1.2);
}

.separador-pie {
  border: 0;
  border-top: 1px solid #333333; 
}

.metodos-pago i {
  font-size: 24px; 
  margin: 0 5px; 
  color: #aaaaaa;
}

.texto-derechos-autor {
  font-size: 13px;
  margin: 0;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .barra-inferior-pie {
    text-align: center; 
  }
}